# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build output
/bin/
/dist/
/build/

# Go workspace files
*.log
*.tmp

# Dependency / cache
/vendor/
/vendor/*.sum


# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Task manager app files
tasks.json
